.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #eeeeee;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1.5rem;
  font-weight: normal;
  width: 100%;
  padding: 7px 24px 7px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.sin-bordes-izquierdos {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.nivel-1-table {
    background-color: #fbfbfb !important;
}
.nivel-2-table {
    background-color: #f4f4f4 !important;
}
.nivel-3-table {
    background-color: #f0f0f0 !important;
}